body {
    background-color: #133152;
    text-align: -webkit-center;
    color: #f8f8f1;
    margin: 0px 10% 0px 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

body > p {
    width: 60%;
}

h1 {
    color: #f8F8f1;
    font-size: 3em;
}

h2 {
    margin: auto;
}

.container {
    display: flex;
    gap: 10px;
    max-width: 90%;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f8f1;
    border-radius: 20px;
    max-height: 365px;
    flex: 1;
    transition: .3s all ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    flex: 2;
    /* background-color: rgb(44, 82, 209); */
}

.indexImg {
    padding: 6px;
    height: 70%;
    overflow-y: hidden;
}

.indexImg > img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 12px -2px #3D3D3D;
}

.recipeImg {
    height: 320px;
}

a {
    text-decoration: none;
    color: #090C09;
}

a:hover {
    color: #E28413;
}

div > a {
    color: #f8f8f1;
}

div > p {
    color: #090C09;
}

.recipeContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

ol {
    list-style: none;
    padding-inline-start: 20px;
}

footer {
    padding: 0px 0px 10px 0px;
    width: 100%;
    color: #f8f8f1;
    margin-top: auto;
}
